<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sing.top.newbie.guide.demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="sing.demo.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="sing.demo.MainActivity" />
        <activity android:name="sing.demo.GridViewActivity" />
        <activity android:name="sing.demo.RecyclerViewActivity" />
        <activity android:name="sing.demo.ScrollViewActivity" />
    </application>

</manifest>